body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.maincontainer{
    display: flex;
}
.container{
    padding: 10px 10px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;   
    color: #fff;
}

.navbar-left img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.navbar-right select {
    background-color: #a5a1a1;
    color: #fff;
    border: none;
    padding: 5px;
    border-radius: 5px;
}

.alert-container {
    height: 200px;
    background-color:rgb(196, 240, 240);
    margin: 35px 0px 35px 0px;
    border-radius: 30px;
}

.alert-container-child{
    height: 190px;
    color: black;
    font-weight: bold;
    font-size: large;
    padding: 40px;
    align-items:end;
}

.datadiv{
    display: flex;
}

.datadiv2{
    display: flex;
}
.div1{
    width: 48%;
    height: 200px;
    background-color: rgb(248, 217, 222);
    margin-right: 10px;
    border-radius: 35px;
    color: rgb(240, 4, 82);
}

.div2{
    width: 48%;
    height: 200px;
    background-color:rgb(198, 236, 248);
    margin-left: 10px;
    border-radius: 35px;
    color: rgb(4, 111, 182);
}
.div3{
    width: 48%;
    height: 200px;
    background-color: #c2f0c2;
    margin-right: 10px;
    border-radius: 35px;
}
.div4{
    width: 48%;
    height: 200px;
    background-color: lightsalmon;
    margin-left: 10px;
    border-radius: 35px;
}
.pink-blue{
    display: flex;
}
 .grey-salmon{
    display: flex;
    margin: 20px 0px 20px 0px;
 }

 .heading{
    padding: 20px;
 }
 
 .numberData{

    padding-left: 10px;
    padding-top: 50px;
 }